*{
	margin: 0;
	padding: 0;
}
/* common styles */ 
a{
	display: block;
	background-color: transparent;
	text-decoration: none;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
	display: block;
}
ul{
	list-style-type: none;
}
h1{
	font-size: 45px;
	text-transform: uppercase;
}
h2{
	text-transform: uppercase;
	font-size: 33px;
}
body, html{
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	max-width: 1400px;
	min-width: 400px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-size: 20px;
}
.content{
	width: 85%;
	margin: 0 auto;
	min-height: 100%;
}
.counter{
	border: 1px solid #1D5237;
	border-radius: 32px;
	margin: 10px auto;
	width: 180px;
}
.button{
	background: url(../img/btn-header.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
	width: 379px;
	cursor: pointer;
}
.button p span{
	text-transform: uppercase;
	font-size: 51px;
	color: #A81809;
}
.red {
	color: #b42112;
	text-transform: uppercase;
}
.sum .big-sum {
	color: #b42112;
	font-size: 50px;
	text-transform: uppercase;
}
.sum .small-sum {
	float: left;
	color: #393939;
	font-size: 24px;
	text-decoration: line-through;
}
.sum .big-sum-curensy{
	color: #b42112;
	font-size: 24px;
}
/* common styles - end */ 
#header{
	background: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
	padding-top: 25px;
	background-position: center center;
}
#header .header-content{
	width: 650px;
	min-height: 100%;
	margin-left: 186px;
}
#header p{
	text-transform: uppercase;
}
#header .slogan{
	color:#3D4E68;
	font-size: 25px;
	margin-bottom: 20px;
	text-align: right;
	background-color: rgba(255,255,255,0.4);
	line-height: 43px;
}
#header .slogan-big{
	font-size: 43px;
	font-weight: bold;
}
#header .item-product{
	display: flex;
	justify-content: space-between;
}
.item1, .item2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item1{
	align-items: flex-start;
}
.item2{
	align-items: flex-end;
}
.item2 li{
	text-align: right;
}
.item2 ul li span{
	text-transform: uppercase;
	font-size: 27px;
	color: #4A5759;
}
.item2 ul li{
	font-size: 23px;
	color: #242424;
}
.item2 ul li img{
	margin: 14px 0 -11px 23px;
	display: inline;
}
.item2 .price p{
	color: #ffffff;
	background: url(../img/line-sale.png);
	background-repeat: no-repeat;
	font-size: 20px;
	width: 70%;
}
.item2 .price{
	margin-top: 30px;
	width: 92%;
}
.item2 .sum{
	margin: 34px 0 0 130px;
}
.item1 p{
	text-align: center;
	text-transform: lowercase;
	font-size: 22px;
	color: #1D5237;
	margin: 10px 0 10px 0;
}
#determ .content{
	display: flex;
	justify-content: space-between;	
}
#determ .determ-item1, .determ-item2{
	width: 44%;
}
#determ p span{
	text-transform: uppercase;
	color:  #40775B;
}
#determ p{
	margin: 6px 0;
	text-indent: 30px;
	color: #2C2C2C;
}
#determ h2{
	background: linear-gradient(to right, #b4cec0, #fff);
	background-repeat: no-repeat;
	max-width: 85%;
	padding: 3px 15px;
	color: #40775B;
}
#determ div{
	margin: 10px auto;
}
#examples h2{
	max-width: 68%;
	background: linear-gradient(to right, #b4cec0, #fff);
	background-repeat: no-repeat;
	margin-bottom: -82px;
	padding: 3px 15px;
	color: #40775B;
}
#examples{
	margin: 50px auto 40px auto;
	min-height: 400px;
}
#examples .examples-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-top: 45px;
}
#examples div p{
	margin: 0 auto;
	width: 81%;
	text-align: center;
	font-size: 18px;
}
#examples .examples-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 274px;
	padding: 0 auto;
}
#examples img{
	margin: auto auto 20px auto;
}
#examples .first{
	margin-left: 9px;
}
#_decision h2, #reviews h2{
	color: #234B37;
	text-align: center;
}
#_decision h2 span, #reviews h2 span{
	color: #54B885;
}
#_decision .decision{
	display: flex;
	justify-content: space-between;
	margin: 40px auto 0 auto;
	width: 86%;
}
#_decision .decision-item{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#_decision .decision-item .tab1{
	background: url(../img/tab1.png);
	background-repeat: no-repeat;
	background-position: center;
} 
#_decision .decision-item .tab2{
	background: url(../img/tab2.png);
	background-repeat: no-repeat;
	background-position: center;
}
#_decision .decision-item .tab3{
	background: url(../img/tab3.png);
	background-repeat: no-repeat;
	background-position: center;
}
#_decision .decision-item .tab4{
	background: url(../img/tab4.png);
	background-repeat: no-repeat;
	background-position: center;
}
.tab1, .tab2, .tab3, .tab4{
	width: 239px;
	height: 255px;
	padding: 8px;
	font-size: 18px;
	margin: 0 auto;
}
.tab1 p{
	margin-top: 80px;
	text-align: right;
}
.tab2 p{
	margin-top: 30px;
	text-align: right;
}
.tab3 p{
	margin-top: 80px;
	text-align: left;
}
.tab4 p{
	margin-top: 30px;
	text-align: left;
}
#_decision .decision-item img{
	margin-left: 30px;
	margin-right: -30px;
}
#_decision p span{
	font-size: 30px;
	color: #234B37;
	text-transform: uppercase;
}
#results{
	background: url(../img/bg4.png); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 64px;
}
#results .results-content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#results .results-content p{
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
}
#results .results-content .results-item{
	width: 20%;
	margin: 20px 0 70px 0;
}
#results .results-item img{
	margin: 0 auto;
}
#results h2{
	margin: 13px 0 17px 0;
	max-width: 96%;
	background: linear-gradient(to right, #BBDCCC, #57BB9F);
	background-repeat: no-repeat;
	padding: 0 12px;
	color: #234B37;
}
#booking{
	margin-top: 20px;
}
#booking .content{
	display: flex;
	justify-content: space-around;
}
#booking .price>p{
	text-transform: uppercase;
	text-align:  center;
	color: #1D5237;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
}
#booking .booking-item2 .sum{
	margin: 20px auto 20px auto;
	width: 73%;
}
#booking .booking-item2 img{
	margin-left: 100px;	
}
#booking .booking-item1, .booking-item2{
	width: 30%;
}
#booking .counter{
	margin: 15px auto 35px;
}
#booking .booking-item3>p>span{
	font-size: 24px;
	font-weight: normal;
	text-transform: lowercase;
}
#tests{
	background: url(../img/bg6.png); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	margin-top: -39px;
	padding-top: 36px;
}
#tests h2{
	text-align: center;
	margin-top: 40px;
	color: #236651;
}
#tests ul{
	width: 50%;
	margin: 167px 0 0 190px;
}
#tests ul li{
	color: #313131;
	font-size: 22px;
	list-style: none;
	background: url(../img/heart-li.png) no-repeat 0 4px;
	padding: 0 0 24px 60px;
}
#tests ul li span{
	color: #BA142B;
}
#advantages .advantages-content{
	display: flex;
	justify-content: space-around;
}
#advantages h2{
	color: #236651;
	text-transform: uppercase;
	background: linear-gradient(to right, #DAE1DD, #FDFEFD);
	background-repeat: no-repeat;
	margin-bottom: 25px;
	width: 72%;
}
#advantages h2 span{
	color: #2BA668;
}
#advantages .advantages-item2{
	max-width: 51%;
}
#advantages .advantages-item2 p span{
	color: #61B78A;
	text-transform: uppercase;
	font-weight: bold;
}
#advantages ul li{
	margin-bottom: 30px;
}
#expertop h1{
	text-transform: uppercase;
	text-align: center;
	color: #205E79;
	font-weight: normal;
}
#expertop{
	background: url(../img/bg8.png); 
	background-repeat: no-repeat;
	height: 700px;
	margin-top: -50px;
	padding-top: 160px;
}
#expertop .expertop-content{
	width: 51%;
	margin: 89px 0 40px 155px;
}
#expertop .expertop-content p{
	font-size: 17px;
	text-indent: 20px;
	font-style: italic;
}
#expertop .expertop-content p span{
	text-transform: uppercase;
	color: #1E485D;
}
#reviews{
	margin-top: -120px;
	margin-bottom: 30px;
}
#reviews .reviews1, #reviews .reviews2{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px dashed #7ABBA1;
	margin-top: 25px;
}
#reviews p{
	width: 73%;
	font-style: italic;
	font-size: 21px;
	color: #266045;
	margin: 20px 0;
}
#reviews p span{
	color: #304448;
	font-weight: bold;
	line-height: 2;
}
#reviews .reviews1 p{
	text-align: right;
}
#reviews .reviews2 p{
	text-align: left;
}
#reviews .reviews1 img{
	margin-right: -30px;
}
#reviews .reviews2 img{
	margin-left: -30px;
}
#footer{
	background: url(../img/bottom-form.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 35px;	
}
#footer .footer-booking{
	display: flex;
	justify-content: space-around;
}
#footer .booking-item, form{
	width: 29%;
}
#footer h2{
	font-size: 42px;
	color: #3D4E68;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	margin-bottom: 27px;
}
#footer .booking-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 347px;
}
#footer .booking-item p{
	text-transform: uppercase;
	text-align:  center;
	color: #1D5237;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
}
#footer .booking-item .counter{
	margin-bottom: 30px;
} 
#footer .strelka{
	align-self: flex-end;
}
#footer form{
	display: flex;
	flex-direction: column;
	background-color: #CE3623;
	border-radius: 8px;
	padding: 15px;
	width: 260px;
	height: 370px;
	margin-bottom: 10px;
}
#footer form #country, #name, #tel{
	height: 56px;
	border-radius: 4px;
	border: 1px solid #000000;
	margin-bottom: 13px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 17px;
	padding-left: 10px;
}
#footer form label{
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	-moz-appearance: none;
	-moz-appearance: none;
	font-weight: bold;
}
#footer form #submit{
	position: relative;
	top: 10px;
	right: 58px;
	border: none;
	outline: none;
}

@media only screen and (max-width : 1202px) {
	
	#header .slogan{
		font-size: 20px;
	}
	#header .slogan-big {
		font-size: 35px;
	}
	#header .header-content{
		margin-left: 120px;
	}
	#examples .examples-item{
		margin: 54px 45px 0 45px;
	}
	#examples .second img {
		margin-right: 0;
	}
	#examples .second p {
		margin-right: 0;
	}
	#_decision .tab1, .tab2, .tab3, .tab4{
		padding: 3px;
		margin: 0 auto;
	}
	#_decision .decision-item-img{
		width: 29%;
	}
	#_decision .decision-item-img img{
		width: 68%;
		height: auto;
		margin: 30px auto;
	}
	#tests ul{
		width: 60%;
		margin: 167px 0 0 210px;
	}
	#expertop .expertop-content{
		width: 58%;
		margin: 89px 0 40px 167px;
	}
	.button{
		height: 117px;
		width: 341px;
	}
	.button p span{
		font-size: 45px;
	}
	#footer form #submit {
    	top: 10px;
    	right: 40px;
	}
}

@media only screen and (max-width : 980px) {

	#header .header-content{
		margin-left: 50px;
	}
	#header .item2 ul li{
		font-size: 17px;
	}
	#_decision .decision{
		width: 100%;
	}
	#_decision p span{
		font-size: 22px;
	}
	.booking-item2, .booking-item3{
		flex-basis: 225px;
	}
	#header .slogan-big{
		font-size: 33px;
	}
	h2{
		font-size: 27px;
	}
	#tests{
		background-position: left center;
		height: 600px;
	}
	#tests ul{
		width: 70%;
		margin: 108px 0 0 180px;
	}
	#tests ul li {
		font-size: 20px;
		padding: 0 0 10px 60px;
	}
	#footer h2{
		font-size: 27px;
	}
	#expertop .expertop-content{
		width: 69%;
		margin: 85px 0 40px 100px;
	}
	#expertop{
		background-position: -100px 0;
	}
	#footer .strelka{
		align-self: flex-start;
	}
}

@media only screen and (max-width : 870px) {

	#examples .examples-content{
		flex-direction: column;
	}
	#examples .examples-item{
		margin: 54px auto 0 auto;
	}

	#examples .examples-item img{
		margin: auto auto 20px auto;
	}
	#examples .examples-item p{
		margin: 0 auto;
	}
	#examples .first img{
		position: relative;
		left: 25px;
	}
	#examples .four img{
		position: relative;
		right: 8px;
	}
	#_decision .decision-item{
		width: 233px;
	}
	#_decision .tab1, .tab2, .tab3, .tab4{
		width: 100%;
	}
	#results .results-content .results-item{
		width: 180px;
		margin: 20px 40px 30px 40px;
	}
	#booking .booking-item2 img {
		margin-left: 44px;
	}
	#advantages ul li {
    	margin-bottom: 7px;
	}
	
	#reviews .reviews1 img{
		margin-right: 0;
	}
	#reviews .reviews2 img{
		margin-left: 0;
	}
	#footer form {
    	width: 208px;
	}
	#footer form #submit {
    	top: 31px;
    	right: 28px;
	}
	.button{
		height: 91px;
		width: 265px;
	}
	.button p span{
		font-size: 35px;
	}	
}

@media only screen and (max-width : 720px) {
	#header .header-content{
		width: 95%;
		margin: 0 auto;
	}
	#header .slogan{
		width: 98%;
	}
	#header .item-product{
		justify-content: space-between;
		margin-left: 10px;
		width: 95%;
	}
	#header .item-product .item2{
		width: 280px;
	}
	#header .item2 ul li{
		font-size: 17px;
	}
	#header .item2 ul img {
		margin: 12px 0 -11px 4px;
	}
	#header .item2 .price {
		width: 220px;
	}
	#header .item2 .sum {
		margin: 34px 0 25px 7px;
	}
	#header .item1 p{
		font-size: 20px;
	}
	#determ{
		margin-top: -35px;
	}
	#determ .content{
		flex-direction: column;	
	}
	#determ .determ-item1{
		width: 90%;
	}
	#determ .determ-item2{
		width: 60%;
	}
	#_decision .decision-item-img{
		display: none;
	}
	#results .results-content .results-item{
		margin: 20px 30px 30px 30px;
	}
	#booking .booking-item2 img {
		margin-left: 44px;
	}
	#booking .counter{
		width: 170px;
	}
	#booking .content{
		flex-direction: column;
		align-items: center;
	}
	#booking .booking-item1, .booking-item2, .booking-item3{
		width: 80%;
	}
	#booking .booking-item1{
		margin-bottom: 20px;
	}
	#booking .booking-item2{
		margin-bottom: -20px;
	}
	
	#booking .booking-item2 img{
		display: none;
	}
	#booking .booking-item3 .button {
    	margin: 0 auto;
	}
	#tests ul{
		margin: 70px 0 0 180px;
	}
	#tests ul li {
		padding: 0 0 10px 60px;
	}
	#advantages .advantages-content{
		flex-direction: column;
		justify-content: center;
	}
	#advantages .advantages-item1, .advantages-item2{
		margin: 0 auto;
	}
	#advantages .advantages-item1{
		width: 70%;
	}
	#expertop .expertop-content{
		width: 93%;
		margin: 85px 0 40px 51px;
	}
	#expertop{
		background-position: -140px 0;
	}
	#reviews .reviews1{
		flex-direction: column-reverse;
		align-items: center;
	}
	#reviews .reviews2{
		flex-direction: column;
		align-items: center;
	}
	#reviews .reviews1 p {
    	text-align: left;
	}
	#footer .footer-booking{
		flex-direction: column;
	}
	#footer .footer-booking .booking-item, form{
		margin: 20px auto;
		width: 90%;
		height: auto;
	}
	#footer .strelka{
		display: none;
	}
	#footer .button{
		height: 130px;
		width: 379px;
	}
	#footer .button p span{
		font-size: 51px;
	}
	#footer form #submit{
		top: 10px;
		right: 84px;
	}
}

@media only screen and (max-width : 570px) {
	#_decision .decision-item{
		width: 179px;
	}
	#results .results-content{
		flex-direction: column;
	}
	#results .results-content .results-item{
		margin: 20px auto 30px;
	}
	#tests{
		background: none;
		height: 497px;
	}
	#tests ul{
		margin: 20px auto 0;
		width: 85%;
	}
	#expertop .expertop-content {
    	width: 89%;
    	margin: 98px 0 40px 50px;
	}
	#expertop{
		background-position: -148px 0;
	}
	#expertop h1{
		font-size: 33px;
	}
	#expertop .expertop-content p{
    	font-size: 15px;
	}
}
@media only screen and (max-width : 480px) {

	#expertop .expertop-content {
    	width: 318px;
	}
	#footer .button {
    	height: 117px;
    	width: 341px;
	}
	#footer form #submit {
    	top: 10px;
    	right: 66px;
	}
}